*.log
downtownshealthcare.dev/wp-config.php
downtownshealthcare.dev/wp-content/advanced-cache.php
downtownshealthcare.dev/wp-content/backup-db/
downtownshealthcare.dev/wp-content/backups/
downtownshealthcare.dev/wp-content/ai1wm-backups/
downtownshealthcare.dev/wp-content/envato-backups/
downtownshealthcare.dev/wp-content/blogs.dir/
downtownshealthcare.dev/wp-content/cache/
downtownshealthcare.dev/wp-content/upgrade/
downtownshealthcare.dev/wp-content/uploads/
downtownshealthcare.dev/wp-content/wp-cache-config.php
downtownshealthcare.dev/wp-content/plugins/hello.php

downtownshealthcare.dev/.htaccess
downtownshealthcare.dev/license.txt
downtownshealthcare.dev/readme.html
downtownshealthcare.dev/sitemap.xml
downtownshealthcare.dev/sitemap.xml.gz

.DS_Store
