*.log
downtownhealthcare.dev/wp-config.php
downtownhealthcare.dev/wp-content/advanced-cache.php
downtownhealthcare.dev/wp-content/backup-db/
downtownhealthcare.dev/wp-content/backups/
downtownhealthcare.dev/wp-content/blogs.dir/
downtownhealthcare.dev/wp-content/cache/
downtownhealthcare.dev/wp-content/upgrade/
downtownhealthcare.dev/wp-content/uploads/
downtownhealthcare.dev/wp-content/wp-cache-config.php
downtownhealthcare.dev/wp-content/plugins/hello.php

downtownhealthcare.dev/.htaccess
downtownhealthcare.dev/license.txt
downtownhealthcare.dev/readme.html
downtownhealthcare.dev/sitemap.xml
downtownhealthcare.dev/sitemap.xml.gz

.DS_Store
